html
  head
    title Childcarecenter
  body
    h1 Childcarecenter
    div.getchildcarecenter
      table
          tbody
              tr
                  th name
                  td=data.name
              tr
                  th cellphone
                  td=data.cellPhone
              tr
                  th homePageUrl
                  td=data.homePageUrl
              tr 
                  th childrencount 
                  td=data.childrenCount
              tr 
                  th startat
                  td=data.startAt
              tr 
                  th usenavercoord
                  td=data.use_naver_coord
              tr
                  th address
                  td=data.address
              tr 
                  th lng
                  td=data.lng
              tr 
                  th lat
                  td=data.lat
    div.updatecenterdata
        a(href=`/updatecenterdata/${data._id}`) update centerdata